*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
  }

/*Header section*/

.container-fluid{
    height: 80px;
    background-color:  antiquewhite ;
    margin-top: 0;
    padding-top: 0;
}
h1{
    color:black;
}
h2{
    font-weight: 600;
    margin-bottom: 20px;
}
.nav_logo{
    height: 70px;
    width: 65px;
    background-image: url("https://png.pngtree.com/png-clipart/20231019/original/pngtree-user-profile-avatar-png-image_13369988.png");
    background-size: cover;
    background-color: #003261;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}*{
    font-family: 'Times New Roman', Times, serif;
}
body {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
    width: 100%;
    height: auto;
    background-color: #f7f7f7;
  }

/*Header section*/

.container-fluid{
    height: 80px;
    background-color:  antiquewhite ;
    margin-top: 0;
    padding-top: 0;
}
h1{
    color:black;
}
h2{
    font-weight: 600;
    margin-bottom: 20px;
}
.nav_logo{
    height: 70px;
    width: 65px;
    background-image: url("https://png.pngtree.com/png-clipart/20231019/original/pngtree-user-profile-avatar-png-image_13369988.png");
    background-size: cover;
    background-color: #003261;
    border-radius: 35px;
    justify-content: center;
    align-items: center;
}
.container{
    background-color:antiquewhite ;
    
}

/*Navbar*/

.navbar{
    background-color: #003261;
    align-items: start;
}
.nav-link{
    font-size: 1rem;
    color: aliceblue;
    text-align: start;
    margin-right: 5px;
}

/* information section*/

p{
    margin-top: 5px;
    font-size: 1.40rem;
}
.info-logo{
    height: 315px;
    width: 315px;
    border-radius: 300px;
   background-image: url("identiy.jpeg");
    background-size: cover;
    background-color: #003261 ;
    
 }
.info1{
  
    font-size: 1.20rem;
    background-color: antiquewhite;
    border-radius: 20px;
}
.info{
   margin-top: 10px;
   margin-left: 80px;
}

/* Skills section*/

.Skills{
    margin-left: 50px;
}

/* Education section*/

.education{
    margin-top: 40px;
    margin-left: 200px;
    border-radius: 15px;
    width: 70%;
    background-color: antiquewhite;
    height: 150px;
}
.edu-10{
    background-color: #003b72;
    width: 100%;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: 15px;
    text-align: center;
    color: aliceblue;
}
#paragraph{
    font-size: 1.2rem;
}
h5{
    margin-left: 10px;
    margin-top: 5px;
}

/*footer*/

.footer{
    background-color: #003261;
    color: #f7f7f7;
}

/*Navbar*/

.navbar{
    background-color: #003261;
    align-items: start;
}
.nav-link{
    font-size: 1rem;
    color: aliceblue;
    text-align: start;
    margin-right: 5px;
}

/* information section*/

p{
    margin-top: 5px;
    font-size: 1.40rem;
}
.info-logo{
    height: 315px;
    width: 315px;
    border-radius: 300px;
   background-image: url("identiy.jpeg");
    background-size: cover;
    background-color: #003261 ;
    
 }
.info1{
  
    font-size: 1.20rem;
    background-color: antiquewhite;
    border-radius: 20px;
}
.info{
   margin-top: 10px;
   margin-left: 80px;
}

/* Skills section*/

.Skills{
    margin-left: 50px;
}

/* Education section*/

.education{
    margin-top: 40px;
    margin-left: 200px;
    border-radius: 15px;
    width: 70%;
    background-color: antiquewhite;
    height: 150px;
}
.edu-10{
    background-color: #003b72;
    width: 100%;
    height: 30px;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    box-sizing: 15px;
    text-align: center;
    color: aliceblue;
}
#paragraph{
    font-size: 1.2rem;
}
h5{
    margin-left: 10px;
    margin-top: 5px;
}

/*footer*/

.footer{
    background-color: #003261;
    color: #f7f7f7;
}